#search-form {
    text-align: center;
    margin-bottom: 20px;
}

#search-form input[type="text"] {
    padding: 6px 10px;
    width: 250px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 6px;
}

#search-form button {
    width: 80px;
    padding: 6px 14px;
    font-size: 14px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px !important;
}

.deleteButton {
    background-color: rgb(254, 96, 96);
    color: white;
    border: solid 0.2px black;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.deleteButton a {
    text-decoration: none;
    color: white;
}

#editButton {
    background-color: yellow;
    color: white;
    border: solid 0.2px black;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}