#footer {
    background-color: rgb(255, 255, 255);
    /* border-top: solid 1px black; */
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

#infor {
    float: left;
    padding: 5px 50px 0 100px;
    /* border-right: solid 1px black; */
    margin: 20px 0 10px 0;
}

#infor p {
    margin-left: 10px;
}

footer hr {
    clear: both;
    /* border: 0.8px solid #6b6a6a; */
    width: 80%;
}
#copy {
    clear: both;
    text-align: center;
    padding-bottom: 20px;
}